nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}
li {
  flex: auto;
  font-size: 1.2em;
  background-color: #143954;
  font-weight: 200;
  margin: 0;
}
a {
  color: #FFFFFF;
}
