<title>{{title}}</title>

<body>
<h1>{{pageTitle}}</h1>
<img src="assets/img/image-accueil.jpg" alt="image de presentation du site"
     width="50%" height="50%">
<p class="main-text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris mauris,
  faucibus quis efficitur sit amet, tristique fermentum neque. Vestibulum ante
  ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
  Nam lectus turpis, mollis in lacus eget, tristique luctus mauris. Mauris
  sed vestibulum enim. Suspendisse elementum mollis leo in ornare. Aenean
  lacus felis, viverra at porttitor a, tincidunt ut tellus. Mauris accumsan
  consequat egestas. Vestibulum sed massa non tortor ornare sagittis ut vel felis.
  Pellentesque varius mi est, in faucibus sapien commodo non. Nunc eget malesuada
  turpis. Fusce tempor dictum massa, at semper dui facilisis porttitor. In nec
  nibh est. Nulla imperdiet erat in magna sollicitudin, posuere vestibulum purus
  commodo.
</p>
</body>
